---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;
---

<div class="flex flex-row flex-wrap justify-center items-center gap-x-6 gap-y-2 text-center">
  {
    authors.map((author, index) => (
      <div class="flex flex-row items-center">
        {author.url ? <a href={author.url} class="text-lg">{author.name}</a> : <span class="text-lg">{author.name}</span>}
        {author.notes && (
          <sup class="text-lg ml-0.5">
            {author.notes.map(
              (note, noteIndex, array) =>
                note + (noteIndex < array.length - 1 ? "," : ""),
            )}
          </sup>
        )}
        {index < authors.length - 1 && <span class="text-lg mx-2">,</span>}
      </div>
    ))
  }
</div>
